Day 4/Post_meeting.json
{
  "name": "Post meeting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c66336bd-c94a-4d17-8e8e-58a44decf4d1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        20
      ],
      "id": "2f641893-854e-4d0f-825b-51afb44c7432",
      "name": "Webhook",
      "webhookId": "c66336bd-c94a-4d17-8e8e-58a44decf4d1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst bodyData = items.map((item) => item.json.body);\nreturn bodyData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        20
      ],
      "id": "961c95c5-d898-4458-8ebf-1c9dbf3a1b88",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12-wqzCn30D3zvf2Mpob4V2H5TEm4iYoK3iusmqUYsvw",
          "mode": "list",
          "cachedResultName": "report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12-wqzCn30D3zvf2Mpob4V2H5TEm4iYoK3iusmqUYsvw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12-wqzCn30D3zvf2Mpob4V2H5TEm4iYoK3iusmqUYsvw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "submitted_by",
              "displayName": "submitted_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting_date",
              "displayName": "meeting_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_discussed",
              "displayName": "task_discussed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_allocated",
              "displayName": "task_allocated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -340,
        20
      ],
      "id": "8c82c632-8088-4f10-955e-0dd3a810023e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CAeZIiP9FZHX8RKz",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12-wqzCn30D3zvf2Mpob4V2H5TEm4iYoK3iusmqUYsvw",
          "mode": "list",
          "cachedResultName": "report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12-wqzCn30D3zvf2Mpob4V2H5TEm4iYoK3iusmqUYsvw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12-wqzCn30D3zvf2Mpob4V2H5TEm4iYoK3iusmqUYsvw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        20
      ],
      "id": "2d90afc3-ed41-4742-9ed4-0761f619bf9e",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CAeZIiP9FZHX8RKz",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a productivity assistant. A team meeting was conducted where project tasks were discussed and assigned.\nThe following information has been submitted by an employee.\n\nYour task is to analyze the details and generate a concise, professional email outlining the action items, assigned tasks, and the due date.\n\nMeeting Details:\n\nName: {{ $json['name'] }}\n\nTask discussed: {{ $json ['task_discussed'] }}\n\nTask Allocated: {{ $json ['task_allocated'] }}\n\nDue Date: {{ $json['due_date'] }}\n\nInstructions:\n\nFormat the output as a professional email body.\n\nClearly list action items and responsibilities.\n\nMention the due date.\n\nKeep the content short, direct, and informative.\n\nDo not include a subject line.\n\nNote : Remove unwanted symbols and texts, give in a neat and professional manner.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        60,
        20
      ],
      "id": "5cc09b68-4a13-415d-8ee1-0a0b3181e980",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        240
      ],
      "id": "b729a46f-93ad-4b0c-a1e2-88d1d6b8b18c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jPZQfwG2yvaUknjS",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets1').item.json.email }}",
        "subject": "=Hello {{ $('Google Sheets1').item.json.name }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        20
      ],
      "id": "2f428b71-3f4c-4e33-86be-cf7f9e073194",
      "name": "Gmail",
      "webhookId": "7193bd6b-e1fd-45f8-90d3-c06ee3111f12",
      "credentials": {
        "gmailOAuth2": {
          "id": "j47AfcP8Xu8XQ7EH",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11e80ccd-fcc5-40cb-9cdb-e6c5bb8fc55b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccaf382a76d6d276df7e4e103c8ecc15d358094287638f33e2e456c8751d5011"
  },
  "id": "qKUGQPSQae97ETCV",
  "tags": []
}